Repository llaurora/react-app-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run eslint:fix, yarn run stylelint:fix

.lintstagedrc.json:

{
    "src/**/*.{ts,tsx,js}": [
        "yarn run eslint:fix"
    ],
    "src/**/*.{css,scss,sass}": [
        "yarn run stylelint:fix"
    ]
}

fix: 修复fast refresh overlay 设置错误的问题
  scripts/webpack.dev.config.js
Due: none

chore: 更改babel配置文件为json文件
  babel.config.js
  babel.config.json
Due: none

perf: 错误边界捕获组件支持自定义降级UI
  src/components/ErrorBoundary/index.tsx
Due: yarn run eslint:fix

chore: update husky versions
  .husky/commit-msg
  .husky/common.sh
  .husky/pre-commit
  package.json
  yarn.lock
Due: none

fix: 修复使用编辑器的提交工具pre-commit失败的问题
  .husky/pre-commit
  package.json
Due: none

chore: 更新postcss-loader等npm包主要修复生产构建时browerlist时效问题
  package.json
  yarn.lock
Due: none

chore: update typescript
  .eslintrc.js
  mock/user/userInfo.js
  package.json
  src/components/Authorized/AuthorizedLogin.tsx
  src/components/Authorized/AuthorizedRender.tsx
  src/components/Authorized/AuthorizedRoute.tsx
  src/components/Authorized/utils.ts
  src/components/ErrorBoundary/index.tsx
  src/components/Loading/index.tsx
  src/index.tsx
  src/layouts/BasicLayout/SiderMenu/index.tsx
  src/layouts/BasicLayout/index.tsx
  src/layouts/BasicLayout/utils.ts
  src/layouts/UserLayout/index.tsx
  src/services/index.ts
  src/services/typings.d.ts
  src/typings.d.ts
  src/utils/index.ts
  src/utils/request.ts
  tsconfig.json
  yarn.lock
Due: yarn run eslint:fix

chore: lint:fix 添加转义标示符
  package.json
Due: none

fix: executable husky files
  .husky/commit-msg
  .husky/common.sh
  .husky/pre-commit
Due: none

chore: add dotenv environment variables file
  .env
  .gitignore
Due: none

docs: update docs
  README.md
  src/layouts/UserLayout/index.tsx
Due: yarn run eslint:fix

chore: 调整console的lint级别
  .eslintrc.js
Due: none

chore: update repository url
  package.json
Due: none

refactor: update project name
  src/layouts/BasicLayout/SiderMenu/index.tsx
Due: yarn run eslint:fix

perf: perfect request typings
  mock/user/userInfo.js
  src/services/index.ts
  src/utils/request.ts
Due: yarn run eslint:fix

feat: add logout
  src/components/Authorized/utils.ts
  src/layouts/BasicLayout/SiderMenu/index.scss
  src/layouts/BasicLayout/SiderMenu/index.tsx
  src/layouts/BasicLayout/index.scss
  src/layouts/UserLayout/index.tsx
Due: yarn run eslint:fix, yarn run stylelint:fix

perf: perfect authorized typings
  src/components/Authorized/AuthorizedLogin.tsx
  src/components/Authorized/AuthorizedRender.tsx
  src/components/Authorized/AuthorizedRoute.tsx
  src/index.tsx
Due: yarn run eslint:fix

perf: modify template filename
  public/template.html
  scripts/webpack.base.config.js
Due: none

chore: update npm versions
  babel.config.json
  package.json
  scripts/webpack.base.config.js
  yarn.lock
Due: none

perf: add function component types
  src/pages/Example/Child1/index.tsx
  src/pages/Example/Child2/index.tsx
  src/pages/Home/index.tsx
  src/pages/NoAuthorized/index.tsx
  src/pages/NoMatch/index.tsx
  src/pages/PageOne/index.tsx
  src/pages/Welcome/index.tsx
Due: yarn run eslint:fix

fix: update react hooks lint version to fix meta.hasSuggestions
  package.json
  yarn.lock
Due: none

fix: fix axiosInstance lack generic
  src/utils/request.ts
Due: yarn run eslint:fix

fix: fix request return types
  src/services/index.ts
  src/utils/request.ts
Due: yarn run eslint:fix

fix: 修复request返回异常时未提示的问题
  src/utils/request.ts
Due: yarn run eslint:fix

perf: adapte react-router@5.1+
  src/components/Authorized/AuthorizedLogin.tsx
  src/index.tsx
  src/layouts/BasicLayout/index.tsx
Due: yarn run eslint:fix

chore: 锁定husky版本至4.x以保证其运行稳定
  .husky/commit-msg
  .husky/common.sh
  .husky/pre-commit
  package.json
  yarn.lock
Due: none

chore: update axios versions
  package.json
  src/services/index.ts
  src/utils/request.ts
  yarn.lock
Due: yarn run eslint:fix

perf: 控制mock数据仅在开发环境下有效
  src/services/index.ts
  src/utils/request.ts
Due: yarn run eslint:fix

chore: use webpack output.clean instead of clean-webpack-plugin
  package.json
  scripts/webpack.build.config.js
  yarn.lock
Due: none

chore: disable unicorn/prevent-abbreviations
  .eslintrc.js
  package.json
  yarn.lock
Due: none

chore: update eslint versions
  .eslintrc.js
  .prettierrc.json
  package.json
  src/layouts/BasicLayout/index.tsx
  yarn.lock
Due: yarn run eslint:fix

chore: add function-component-definition rule
  .eslintrc.js
Due: none

chore: correct README
  README.md
Due: none

chore: use http-proxy-middleware to perfect proxy
  .eslintignore
  proxyrouter.js
  scripts/server.js
  src/services/index.ts
Due: yarn run eslint:fix
