Repository llaurora/react-app-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run eslint:fix, yarn run stylelint:fix

.lintstagedrc.json:

{
    "src/**/*.{ts,tsx,js}": [
        "yarn run eslint:fix"
    ],
    "src/**/*.{css,scss,sass}": [
        "yarn run stylelint:fix"
    ]
}

chore: enable no-anonymous-default-export
  .eslintrc.js
  src/utils/request.ts
Due: yarn run eslint:fix

perf: react-router upgraded from 5.2 to 6.x
  package.json
  src/components/Authorized/AuthorizedLogin.tsx
  src/components/Authorized/AuthorizedRoute.tsx
  src/index.tsx
  src/layouts/BasicLayout/MenuContext/index.tsx
  src/layouts/BasicLayout/SiderMenu/index.tsx
  src/layouts/BasicLayout/index.tsx
  src/layouts/BasicLayout/utils.ts
  src/layouts/UserLayout/index.tsx
  src/routes.tsx
  yarn.lock
Due: yarn run eslint:fix

perf: 配置式路由逻辑优化减少冗余代码
  src/layouts/BasicLayout/SiderMenu/index.tsx
  src/layouts/BasicLayout/index.tsx
  src/pages/Example/index.tsx
  src/routes.tsx
Due: yarn run eslint:fix

chore: 改用 pnpm 作为包管理器
  package.json
  pnpm-lock.yaml
  src/assets/styles/mixins.scss
  src/assets/styles/reset.scss
  src/layouts/BasicLayout/SiderMenu/index.scss
  src/layouts/BasicLayout/index.scss
  src/layouts/UserLayout/index.scss
  yarn.lock
Due: yarn run stylelint:fix

perf: 仅lint于staged中的文件
  .lintstagedrc.json
Due: none

fix: fixed favicon
  public/favicon.ico
  public/template.html
  scripts/webpack.base.config.js
Due: none

chore: server.js 路径调整
  .eslintignore
  package.json
  server.js
Due: none

chore: 修正npm镜像源
  pnpm-lock.yaml
Due: none

fix: 修复使用pnpm作为包管理器时webpack构建时依赖找不到的问题
  scripts/webpack.base.config.js
Due: none

docs: update README
  README.md
  package.json
Due: none

chore: update package.json name
  package.json
Due: none

fix: 修复在用ts枚举时eslint报错的问题
  .eslintrc.js
Due: none

chore: 启用no-bitwise规则以禁用按位运算符
  .eslintrc.js
Due: none

chore: remove favicon.png
  public/favicon.png
Due: none

chore: 优化开发环境编译报错时错误遮罩的交互体验
  package.json
  pnpm-lock.yaml
  scripts/webpack.dev.config.js
  server.js
Due: none

chore: 升级husky版本
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: none

chore: 更新eslint相关npm包版本
  .eslintrc.js
  package.json
  pnpm-lock.yaml
  src/components/Authorized/AuthorizedRender.tsx
  src/components/ErrorBoundary/index.tsx
  src/components/Loading/index.tsx
  src/index.tsx
  src/layouts/BasicLayout/SiderMenu/index.tsx
  src/layouts/BasicLayout/index.tsx
  src/layouts/UserLayout/index.tsx
  src/pages/Example/Child1/index.tsx
  src/pages/Example/Child2/index.tsx
  src/pages/Home/index.tsx
  src/pages/NoAuthorized/index.tsx
  src/pages/NoMatch/index.tsx
  src/pages/PageOne/index.tsx
  src/pages/Welcome/index.tsx
  src/routes.tsx
  src/typings.d.ts
  src/utils/request.ts
Due: yarn run eslint:fix

chore: 更新stylelint相关npm包版本
  .commitlintrc.js
  .stylelintignore
  .stylelintrc.js
  package.json
  pnpm-lock.yaml
  src/assets/styles/global.scss
  src/assets/styles/reset.scss
  src/assets/styles/variables.scss
  src/components/Loading/index.scss
  src/layouts/BasicLayout/SiderMenu/index.scss
  src/layouts/BasicLayout/index.scss
  src/layouts/UserLayout/index.scss
Due: yarn run stylelint:fix

chore: 升级antd版本至5.x
  babel.config.json
  package.json
  pnpm-lock.yaml
  scripts/webpack.base.config.js
  src/assets/styles/variables.scss
  src/index.tsx
Due: yarn run eslint:fix, yarn run stylelint:fix

chore: 升级babel相关npm包版本
  babel.config.json
  package.json
  pnpm-lock.yaml
Due: none

chore: 升级react版本至18
  package.json
  pnpm-lock.yaml
  src/index.tsx
Due: yarn run eslint:fix

chore: 升级webpack等npm包版本
  package.json
  pnpm-lock.yaml
Due: none

chore: 目录命名调整
  README.md
  src/app.tsx
  src/modules/pageTwo/pages/childPage/index.tsx
  src/pages/home/index.tsx
  src/pages/login/index.scss
  src/pages/login/index.tsx
  src/pages/noAuth/index.tsx
  src/pages/noMatch/index.tsx
  src/pages/pageOne/index.tsx
  src/pages/pageThree/index.tsx
  src/pages/pageTwo/index.tsx
  src/pages/pageTwo/subpage/detail/index.tsx
  src/pages/welcome/index.tsx
  src/routes/constants.ts
  src/routes/index.tsx
Due: yarn run eslint:fix, yarn run stylelint:fix

chore: 添加vite开发环境配置
  .eslintrc.js
  favicon.ico
  index.html
  mock/express/user/userInfo.js
  mock/vite/user/userInfo.js
  package.json
  pnpm-lock.yaml
  scripts/webpack.base.config.js
  server.js
  src/utils/request.ts
  vite.config.ts
Due: yarn run eslint:fix

chore: update README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

perf: 添加对index路由的处理
  src/pages/pageFour/index.tsx
  src/pages/pageFour/subpage/detail/index.tsx
  src/routes/constants.ts
  src/routes/index.tsx
  src/routes/utils.tsx
Due: yarn run eslint:fix

perf: 配置式路由key和path不用强关联
  src/routes/index.tsx
  src/routes/utils.tsx
Due: yarn run eslint:fix

perf: 优化配置式index路由
  src/hooks/useMenuRoutes/index.tsx
  src/routes/index.tsx
  src/routes/utils.tsx
Due: yarn run eslint:fix
