Repository llaurora/react-app-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run eslint:fix, yarn run stylelint:fix

.lintstagedrc.json:

{
    "src/**/*.{ts,tsx,js}": [
        "yarn run eslint:fix"
    ],
    "src/**/*.{css,scss,sass}": [
        "yarn run stylelint:fix"
    ]
}

chore: 权限组件目录结构调整
  src/components/Authorized/AuthorizedLogin.tsx
  src/components/Authorized/AuthorizedRender.tsx
  src/components/Authorized/AuthorizedRoute.tsx
Due: yarn run eslint:fix

chore: add postcss
  .eslintignore
  package.json
  postcss.config.js
  scripts/webpack.base.config.js
  yarn.lock
Due: none

chore: remove .idea directory
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLinters/eslint.xml
  .idea/modules.xml
  .idea/react-redux-app-init.iml
  .idea/vcs.xml
  .idea/watcherTasks.xml
Due: none

chore: ignore .idea directory
  .gitignore
Due: none

chore: 添加自定义滚动条样式
  src/assets/styles/mixins.scss
  src/assets/styles/variables.scss
Due: yarn run stylelint:fix

fix: 修复生产环境CSS背景图片路径引用错误的问题
  scripts/webpack.base.config.js
Due: none

chore: eslint设置自动检测react版本
  .eslintrc.js
Due: none

perf: mixins自定义滚动条支持背景颜色设置
  src/assets/styles/mixins.scss
Due: yarn run stylelint:fix

fix: 主要修复env配置端口设置失败的问题
  package.json
  scripts/server.js
  scripts/webpack.dev.config.js
Due: none

chore: 简化nodemon控制台输出信息
  nodemon.json
Due: none

perf: mock服务逻辑调整遍历文件夹请求注册
  mock/server.js
  mock/user/userInfo.js
  package.json
  yarn.lock
Due: none

perf: mock服务逻辑优化调整
  babel.config.js
  mock/server.js
  mock/user/userInfo.js
  package.json
  scripts/server.js
  yarn.lock
Due: none

perf: change Fast Refresh overlay options
  scripts/webpack.dev.config.js
Due: none

fix: 修复fast refresh overlay 设置错误的问题
  scripts/webpack.dev.config.js
Due: none
